.advantages__wrapper {
  background-color: $white;
}

.advantages-intro {
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 18.5px;
  @include tablet {
    width: 520px;
    margin: auto;
    padding-top: 47.5px;
    padding-bottom: 57px;
  }

  @include desktop {
    padding-top: 59px;
    padding-bottom: 44px;
  }
}

.advantages__slogan {
  text-transform: uppercase;
  display: inline;
  font-size: 18px;

  @include tablet {
    font-size: 21px;
  }
}

.advantages__text {
  @include fontSmall;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 35px;
  display: block;
  max-width: 800px;

  @include tablet {
    margin-top: 27px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}

.advantages__item:first-of-type {
  @include tablet() {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}

.advantages__item:nth-of-type(2) {
  grid-column: 1/-1;
  grid-row: 2/3;
}


.advantages__item {
  @include tablet {
    min-width: 768px;
    width: 100%;
    flex-grow: 3;
    grid-column: 1 span 1;
    grid-row: 3/4;
  }
}

.advantages__item--grey {
  padding-left: 18px;
  padding-right: 18px;
  background-color: $grey;

  @include tablet {
    min-width: 256px;
    width: 100%;
    padding-left: 33px;
    padding-right: 33px;
    flex-grow: 1;
  }

  @include desktop {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.advantages__item--grey:last-child {
  padding-bottom: 6px;
}

.advantages__columns {
  position: relative;
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    height: 256px;
  }
}


//.advantages__columns:first-child::after {
//  position: absolute;
//  display: block;
//  content: "";
//  top: 0;
//  width: 768px;
//  overflow: hidden;
//  left: 50%;
//  transform: translateX(-25%);
//  height: 37px;
//  background-image: url("../img/arrow-bottom--blue.svg");
//  background-repeat: no-repeat;
//  background-size: 100%;
//}

.advantages__columns--reverse {
  display: flex;
  flex-direction: column-reverse;

  @include tablet {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
  }
}

.advantages-column {
  background-color: $blue;
  color: $white;
  text-align: center;
  width: auto;
  height: auto;
  padding-top: 33px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 40px;

  @include tablet {
    flex-grow: 1;
    max-width: 400px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 52px;
    padding-bottom: 30px;
  }

  @include desktop {
    padding: 52px 50px 51px 50px;
  }
}

.advantages-column--blue {
  background-color: $grey;
  color: #000000;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(214, 214, 214, 1);

  @include tablet {
    padding-top: 52px;
    padding-bottom: 52px;
    border: 0;
  }

  @include desktop {
    padding-top: 63px;
    padding-bottom: 41px;
  }
}


.advantages-column__title {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 11px;
  font-size: 18px;
  text-align: center;

  @include tablet {
    font-size: 21px;
  }
}

.advantages-column__numbers {
  @include fontSmall;
  font-size: 14px;
  line-height: 21px;
}

.advantages-column__depiction {
  @include fontSmall;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 0;

  @include tablet {
    margin-top: 22px;
    font-size: 13px;
  }
}

.advantages-img {

  width: 100%;

  @include tablet {
    max-height: 256px;
    height: 100%;
  }
}
