
.doubts {
  @include fontMain;
  background-color: $white;
  text-align: center;
  margin-top: 17px;

  @include tablet {
    margin-top: 58px;
  }

  @include tablet {
    margin-top: 62px;
  }
}

.doubts__title {
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  line-height: 26px;
}

.doubts__description {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: rgba(51, 51, 51, 1);
}

.doubts__video {
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    padding-left: 60px;
    padding-right: 60px;
  }

  @include desktop {
    width: 800px;
    height: 500px;
    margin: 0 auto;
  }
}

.doubts__video-img {
  width: 100%;
}
