

$white: rgba(255, 255, 255, 1);
$blue: rgba(129, 179, 210, 1);

.main-nav {
  @include fontMain;
  display: flex;
  position: relative;
  text-transform: uppercase;
  background-color: $white;
  color: $white;

  @include tablet {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main-nav__wrapper {

  width: 100%;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.main-nav__list {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  z-index: 100;

  @include tablet {
    margin: 0;
    padding: 0;
    min-width: 208px;
    width: auto;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    z-index: 1;
  }

  @include desktop {
    min-width: 318px;
  }
}

.main-nav__list--left {
  margin-top: 56px;

  @include tablet {
    margin-top: 0;
  }
}

.main-nav__item {
  background-color: $blue;
  color: $white;
  height: auto;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 13px;
  text-align: center;
  border-top: 1px solid lighten($blue, 20%);
  border-bottom: 1px solid darken($blue, 20%);

  @include tablet {
    background-color: transparent;
    color: $black;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    border: none;
    min-height: 46px;
    display: grid;
    place-items: center;
  }
}

.main-nav__item-link {
  text-decoration: none;
  color: inherit;
}

.main-nav__item:nth-of-type(3) {
  margin-left: auto;
}

.main-nav__item:first-child {
  border-top: none;
}

.main-nav__item:last-child {
  border-bottom: 1px solid linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
