@mixin fontMain {
  font: {
    family: "PT Sans", sans-serif;
    style: normal;
    weight: 700;
    size: 18px;
  }

  line-height: 26px;
}

$white: rgba(255, 255, 255, 1);
$blue: rgba(129, 179, 210, 1);
