.advantages__columns {
  @include fontMain;
}

.advantages-column {
  background-color: $blue;
  color: $white;
  text-align: center;
  width: 320px;
  height: 151px;
  padding-top: 40px;
  padding-left: 18px;
  padding-right: 18px;
  // padding-bottom: 40px;
}

.advantages-column--blue {
  background-color: $grey;
  color: #000000;
  border-bottom: 1px solid rgba(214, 214, 214, 1);
}

.advantages-column__numbers {
  @include fontSmall;
}

.advantages-column__depiction {
  @include fontSmall;
  text-transform: uppercase;
}
