.blank-review {
  @include fontMain;
  background-color: $white;
}

.blank-form {
  @include fontMain;
  background-color: $white;
}

.blank-review__wrapper {
  margin: auto;

  @include tablet {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.blank-review__main-info {
  position: relative;
  display: flex;
  flex-direction: column;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  @include desktop {
    column-gap: 128px;
    justify-items: auto;
  }
}

.blank-review__intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  margin: 0;
  width: 100%;

  @include tablet {
    padding-right: 43px;
    padding-left: 0;
    padding-bottom: 48px;
  }

  @include desktop {

  }
}

.blank-review__intro::before {
  position: absolute;
  width: 100%;
  height: 1px;
  top: -70px;
  background-color: $grey;
  display: block;
  content: "";

  @include tablet {
    display: none;
  }
}

.blank-review__main-info::after {
  display: none;
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  width: 1px;
  height: 338px;
  background-color: $grey;

  @include tablet {
    display: block;
  }
}

.blank-review__legend {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;

  @include tablet {
    font-size: 21px;
    margin-left: 20px;
    margin-bottom: 28px;
  }
}

.blank-review__intro-name {
  @include fontSmall;
  text-transform: uppercase;
  width: 100%;

  @include desktop {
    width: 480px;
  }
}

.blank-review__contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;

  @include tablet {
    padding-left: 44px;
    padding-right: 0px;
  }

  @include desktop {
    padding: 0;
  }
}

.blank-review__contacts-legends {
  margin-bottom: 15px;

  @include tablet {
    margin: 0;
    margin-bottom: 28px;
    width: 280px;
    white-space: nowrap;
  }
}

.blank-review__contacts-data {
  @include fontSmall;
  text-transform: uppercase;
  width: 100%;
}

.blank-review__label {
  display: block;

  @include fontMain;

  color: $black;
  background-color: $input;
  border: none;
  width: 100%;
  height: 58px;
  padding-left: 16px;
  margin: 0;
  margin-bottom: 16px;

  @include desktop {
    width: 480px;

  }
}

.blank-review__label:hover {
  background-color: $grey;
  transition-duration: 0.3s;
}

.blank-review__label:focus {
  outline: 0;
  outline: 4px solid $grey;
}

.blank-review__contacts::before {
  position: absolute;
  width: 100%;
  height: 1px;
  top: -70px;
  margin-bottom: 20px;
  background-color: $grey;
  display: block;
  content: "";

  @include tablet {
    display: none;
  }
}

.blank-review__contacts-legends {
}

.blank-review__tel {
  display: block;
  width: 100%;
  background-image: url("../img/phone.svg"), linear-gradient(to left, #e6e6e6 58px, transparent 58px);
  background-repeat: no-repeat;
  background-position: right 20px center, right center;

  @include fontMain;

  color: $black;
  background-color: $input;
  border: none;
  height: 58px;
  padding-left: 16px;
  margin-bottom: 18px;

  @include desktop {
    width: 480px;
  }
}

.blank-review__email {
  background-image: url("../img/email.svg"), linear-gradient(to left, #e6e6e6 58px, transparent 58px);
  background-repeat: no-repeat;
  background-position: right 20px center, right center;
  margin-bottom: 60px;
}
