.blank-emotions {
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
}


.blank-emotions__depiction {
  display: block;
  width: 100%;
  max-width: 768px;
  margin: auto;

  @include fontMain;

  background-color: $input;
  border: none;
  min-width: 279px;
  width: 100%;
  max-width: 648px;
  margin: auto;
  height: 150px;
  padding: 16px;
}

.blank-emotions__depiction::placeholder {
  color: $black;
  opacity: 0.3;
}
