.blank-emotions {
  padding-top: 15px;
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;

  @include tablet {
    margin-top: 25px;
    padding-left: 0;
    padding-right: 0;
  }
}

.blank-emotions__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;

  @include tablet {
    margin: 0;
    font-size: 21px;
    margin-bottom: 28px;
  }
}

.blank-emotions__depiction {
  display: block;
  width: 100%;
  max-width: 768px;
  margin: auto;

  @include fontMain;

  background-color: $input;
  border: none;
  min-width: 279px;
  width: 100%;
  max-width: 648px;
  margin: auto;
  height: 160px;
  padding: 16px;
}

.blank-emotions__depiction:hover {
  background-color: $grey;
  transition-duration: 0.3s;
}

.blank-emotions__depiction::placeholder {
  color: $black;
  opacity: 0.3;
}
