.card-info {
  @include tablet {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    background-color: rgba(242, 242, 242, 1);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
  }

  @include desktop {
    width: 100%;
    position: absolute;
    top: 187px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.card-info--current {
  @include desktop {
    top: 320px;
  }
}

.cards__item {
  position: relative;
  border-top: 1px solid $grey;
  padding: 24px 20px;
  margin: auto;
  width: 100%;

  @include tablet {
    border: none;
    height: 347px;
    min-width: 324px;
    padding: 0;
    flex-grow: 1;
    width: 100%;
  }

  @include desktop {
    position: relative;
    height: 267px;
  }
}

.cards__item-photo {
  width: 100%;
}

.card__photo-img {
  display: block;
  width: 100%;

  @include tablet {
    height: 267px;
  }
}

.card__photo-img--current {
  @include tablet {
    height: 400px;
  }
}

.card-info__text-title {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  margin-top: 10px;

  @include desktop {
    color: $white;
  }
}

.card-info__counter {
  @include fontMain;

  display: flex;
  min-width: 70px;
  justify-content: space-between;
  background-color: transparent;
  border: none;

  @include desktop {
    color: $white;
  }
}

 .card-info__counter-svg {
   @include desktop {
     fill: $white;
     opacity: 1;
   }
 }

.card-info__text-author {
  @include fontSmall;

  font-size: 14px;
  display: block;
  margin-top: 5px;

  @include desktop {
    color: $white;
  }
}
