.cards__item {
  position: relative;
  border-top: 1px solid $grey;
  padding: 28px 20px 27px 20px;
  margin: auto;
  width: 100%;

  @include tablet {
    border: none;
    height: 347px;
    min-width: 324px;
    padding: 0;
    flex-grow: 1;
    width: 100%;
  }

  @include desktop {
    position: relative;
    height: 267px;
  }
}

.cards__item-photo {
  width: 100%;
}

.card__photo-img {
  display: block;
  width: 100%;

  @include tablet {
    height: 267px;
  }
}
