.feature-list {
  @include fontMain;

  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto;
}

.advantages__item__list {
  @include tablet {
    display: flex;
    height: 331px;
  }
}

.feature-item {
  padding-left: 65px;
  padding-right: 18px;
  text-transform: uppercase;
  height: auto;

  @include tablet {
    flex-grow: 1;
    text-align: center;
    padding-left: 33px;
    padding-top: 158px;
    padding-right: 33px;
    padding-bottom: 60px;
    width: 33%;
  }
}

.feature-item:first-child {
  background-image: url(../../img/house-logo.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 39px 36px;

  @include tablet {
    background-position: 50% 15%;
    background-size: auto auto;
  }
}

.feature-item:nth-child(2) {
  background-image: url(../../img/burger-logo.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 39px 36px;

  @include tablet {
    background-position: 50% 15%;
    background-size: auto auto;
  }
}

.feature-item:last-child {
  background-image: url(../../img/gift-logo.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 39px 36px;

  @include tablet {
    background-position: 50% 15%;
    background-size: auto auto;
  }
}

.feature-item__depiction {
  @include fontSmall;
}
