.posts__intro {
  text-align: center;

  @include tablet {
    width: 458px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.posts__title {
  text-transform: uppercase;
}

.posts__description {
  @include fontSmall;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.posts__list {
  @include fontMain;

  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.posts__item--current {
  @include tablet {
    height: 480px;
    min-width: 648px;
    width: 100%;
    flex-grow: 3;
  }
}
